<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/for_login_signup.css">
</head>
<body>
    <div class="login">
        <div class="container">
            <div class="main">
                <div class="img">
                    <img src="../../static/images/for_login.jpg" alt="">
                           </div>
                <div class="content">
                    <h2>Log In</h2>
                    <form action="">
                        <label for="">USERNAME</label>
                        <input type="text"placeholder="Username"  id="userName" required maxlength="100" minlength="10">
                        <label for="" >PASSWORD</label>
                        <input type="password" placeholder="password" id="passWord" minlength="8" maxlength="50" required>
                            <button class="btn" type="submit">Log in</button>
                    </form>
                    <div class="remember">
                       <div class="lab">
                        <input type="checkbox" id="ch">
                        <label for="ch" >Remember me</label>
                       </div>
                       <p> <a href="#">Forgot password</a></p>
                    </div>
                    <p class="sign" id="green">Not a member?<a href="signup.html">Sign Up</a></p>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>