<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/css/for_about.css">
</head>
<body>
    <div class="container">
        <h1>About Us</h1>
        <div class="team">
            <div class="team-member">
                <h2>Khaled RAHMA</h2>
                <p class="description">Project Manager and Second year computer science engineering student at Ouargla University.</p>
                <p>Email: <a href="khaledrahma9025@gmail.com">khaledrahma9025@gmail.com</a></p>
            </div>
            <div class="team-member">
                <h2>Nidhal KHAZENE</h2>
                <p class="description">UI&UX Designer, a passionate computer science engineering student hailing from Algeria 🇩🇿.
                </p>
                <p>Email: <a href="khazene.nidhal@univ-ouargla.dz">khazene.nidhal@univ-ouargla.dz</a></p>
                <p>LinkedIn: <a href="https://www.linkedin.com/in/nidhal-khazene/" target="_blank">Nidhal KHAZENE</a></p>
            </div>
            <div class="team-member">
                <h2>Bendaoud Bilal</h2>
                <p class="description">computer science student.</p>
                <p>Email: <a href="bendaoudbilal717@gmail.com">bendaoudbilal717@gmail.com</a></p>
            </div>
            <div class="team-member">
                <h2>Cherbi Mohammed Elhacene</h2>
                <p class="description"> Second year computer science engineering student at Ouargla University.</p>
                <p>Email: <a href="hassancherbi0602@gmail.com">hassancherbi0602@gmail.com</a></p>
            </div>
            <div class="team-member">
                <h2>Akchiche Mohamed Aymen</h2>
                <p class="description"> The major : computer science engineering the second year.</p>
                <p>Email: <a href="akchiche.mohamedaymen@univ-ouargla.dz">akchiche.mohamedaymen@univ-ouargla.dz</a></p>
            </div>
            <div class="team-member">
                <h2>Gobbi mohaned</h2>
                <p class="description"> I m a 19 year old cs student in kasdi merbah ouargla.</p>
                <p>Email: <a href="gobbimouhaned@gmail.com">gobbimouhaned@gmail.com</a></p>
            </div>
        </div>
    </div>
</body>
</html>
