<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/for_homepage1_2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <div class="first">
        <div class="head">
         <img src="../static/images/logo.png" alt="" >
        <a href="#">How it Works</a>
        </div>
      <div class="links">
        <a href="../templates/registration/login.html">Log In</a>
        <a href="../templates/registration/signup.html">Sign Up</a>
        <a href="form.html">Submit to showcase</a>
    </div>
    </div>
    <div class="page">
        <h1>Freelancer Showcase</h1>
        <p>Explore the best creative freelancers from the world's
            emerging showcasing platform.</p>
            <div class="search">
                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            <input type="search" id="search" placeholder="Find your target service from our best freelancers">
            <button type="button" id="but">Search</button>
      
</div>
    </div>
    <div class="categories">
        <a href="#">All</a>
        <a href="#">Development & IT</a>
        <a href="#">Design</a>
        <a href="#">Writting</a>
        <a href="#">Marketing</a>
        <a href="#">Translation</a>
        <a href="#">Legal</a>
        <a href="#">Photography</a>
        <a href="#">Data Science</a>
        <a href="#">Engineering & Architecture</a>
    </div>
  
    <div class="freelencers">
       
    </div>
    <footer id="footer"></footer>
   
    <script src="../static/js/main2.js"></script>
</body>
</html>